*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 14px;
    height: 950px;
    background-color: lightgray;
}


.shapka{
    display: flex;
    height: 40px;
}

.shapka1{
    padding-left:50px;
    background-color:#0972B6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.logo{
    color: white;
    font-size: 20px;
}

.search{
    display: flex;

}

.searchbox{
    display: flex;
    background-color: #03416A;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}


.searchbox input{
    border: 0px;
    width: 80%;
    background-color: #03416A;
    outline: none;
    color: white;
}

.searchbox ::placeholder{
    background-color: #03416A;
    outline-color: #03416A;
    color: gray;
}

.lupa{
    margin: 10px;
    color:gray;
}

.poisk{
    color: gray;
}

.shapka2{
    background-color: #0972B6;
    width: 55%;

}


.content{
    display: flex;
    margin-top: 50px;
    margin-left: 7%;
    margin-right: 8%;
    justify-content: space-around;
}

.navbar{
    margin-left: 30px;
    width: 15%;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 270px;
}
.navbar a{
    text-decoration: none;
    color:#0972B6;
}



.navbar a:hover{
    color:#03416A;
    text-decoration: underline;
}


.friends{
    width: 55%;
    background-color:lightgray;
}


.find {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.allfriends{
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
}


.onlinefriends{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

.numoffriends{
    border-top-left-radius: 5px;
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.findfriends{
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 10px;
}

.findbutton{
    border-radius: 5px;
    height: 80%;
    background-color: #0972B6;
    width: 110px;
    padding: 10px;
    color: #DEE5EA;
}

.findbutton a {
    text-decoration: none;
    color: white;
}

.searchfriend{
    margin-top: 2px;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.searchbox2{
    margin-top: 2px;
    display: flex;
    background-color: white;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.searchbox2 input{
    border: 0px;
    width: 400%;
    background-color: white;
    outline: none;
    color: black;
}

.searchbox2 ::placeholder{
    background-color: white;
    outline-color: white;
    color: gray;
}

.poisk2{
    width: 100%;
    color: gray;
}
.friend{
    background-color: white;
    font-size: 16px;
    margin-top: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.friend1{
    background-color: white;
    font-size: 16px;
    margin-top: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ava{
    width: 80px;
    height: 80px;
}

.fio{
    font-weight: bold;
    color:#0972B6;
}

.fio a {
    text-decoration: none;
    font-weight: bold;
    color:#0972B6;
}

.organization{
    color:darkgray;
}

.sendmessage{
    color:#0972B6;
}

.sendmessage a{
    text-decoration: none;
    color:#0972B6;
}

.sendmessage a:hover {
    text-decoration: underline;
}

.info{
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.user{
    padding: 10px;
    display: flex;
}

.ava img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.more{
    font-weight: bold;
    color:#0972B6;
    font-size: 20px;
}

.more a {
    text-decoration: none;
    color:#0972B6;
}

.friendnavbar{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
    height: 670px;

}

.menu{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    background-color: white;
}

.list a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.list1{
    height: 15%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #C4D8F5;
}

.list2{
    height: 15%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.list1 a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-weight: bold;
}
.list2 a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}



.list{
    background-color: white;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    margin-left: 10px;

}

.possible{
    border-radius: 5px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.miniinfo{
    margin: 8px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.miniuser{
    margin-left: 10px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.miniava{
    width: 60px;
    height: 60px;
}

.miniava img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mininame{
    font-weight: bold;
    color:#0972B6;
}

.mininame a{
    text-decoration: none;
    font-weight: bold;
    color:#0972B6;
}

.mutual{
    color:darkgray;
}

.action{
    color:#0972B6;
}

.action a{
    text-decoration: none;
    color:#0972B6;
}

.action a:hover{
    text-decoration: underline;
}